.subscribe__block {
    margin-top: 10px;
    height: auto;
    background: radial-gradient(355.04% 100.00% at 51.36% 100.87%, #EC9422 0%, #000 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}