@import '../../styles/var';

.root__style {
    background-color: #1A1A1A;
    font-family: $fontIndivisible;
    min-height: 120svh;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 60px 40px;
}

.profile__head {
    color: #fff;
    font-size: 38px;
    margin-bottom: 5px;
    margin-left: 25px;
}

.right__margin {
    margin-top: 51px;
    margin-left: 120px;
}